<section class="comment-ul">
    <div class= "snow comment">
        <%= comment.comment%>
        <% writer = User.find(comment.user_id) %>
        <p class="snow">By: <%= link_to writer.name, writer %></p>

    </div>
    <div class="comment-del">
    <% if current_user.id == comment.user_id || current_user.admin?%>
    
        <%= link_to "delete", comment, method: :delete,
                            data: { confirm: "You sure?" },class: "delcomment"%>
    
    <%end%>
    </div>
</section>