<% provide(:title, 'Sign up') %>
<%provide(:button_text,'Create account')%>

<div class="row mg-top-3vw">
  <div class="col-md-6 col-md-offset-3 m-auto signup">
    <h1 class="snow">Sign up</h1>
    <%= render 'form' %>
  </div>
</div>
