<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> <%= @user.email %>
      </h1>
    </section>
    <section id="user_events">
      <h2> Going to </h2>
      <%= render @user.events %>
    </section>
  </aside>
</div>
