html,body{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main-body{
  background-color: #ECEFF4;
}
.navbar{
  background-color: #2E3440;
  color: white;
}
.content{
  height:auto;
  flex: 1 0 auto;
}
.btns {
  border-color: #5E81AC;
  background-color: #5E81AC;
  text-decoration: none;
  color: white;
}
.btns-del {
  float: right;
  border-color: #BF616A;
  background-color: #BF616A;
  text-decoration: none;
  color: white;
}
.btns-del2 {
  border-color: #BF616A;
  background-color: #BF616A;
  text-decoration: none;
  color: white;
}
.btns-ed {
  border-color: #A3BE8C;
  background-color: #A3BE8C;
  text-decoration: none;
  color: white;
}
.link {
  text-decoration: none;
  color: #2E3440;
}
//CARD EVENT
.event {
  background-color: #D8DEE9;
  padding: 10px;
  justify-content: space-around;
  border: solid 5px;
  width: 300px;
  margin: 0px 30px 30px 30px;
  //size: 800px;
}
.p-3{
	justify-content: space-evenly;
	margin-right: 30px;
}
.title{
  margin: 10px;
}
.profile-pic{
  border-radius: 4px;
}
#debug{
  margin-top: auto;
  background: black;
  color:white;
  flex-shrink: 0;
}
.col-12{

}
.event_img{
  width: 25vw;
}

.delete_btn, .edit_btn, .save_btn {
  padding: 4%;
  border-radius: 0.3vw;
}

.delete_btn {
  background-color: #BF616A;
}
.edit_btn {
  background-color:#A3BE8C ;
}
.save_btn {
  background-color: #5E81AC;
}
.ruby{

}
.event-rating{
  padding-top: 1.5vw;
  display: flex;
  justify-content: center;
}
//eventure title
a.navbar-brand{
	font-size: 40px;
}
//container
.container-pag{
	display: flex;
	//justify-content: space-between;
}
//container de event y categorias
.row-title{
	//$border-width: 30px;
	//justify-content: center;
	display:flex;
}
#cont-event{
	padding-left: 10px;
	//padding-right: 10px;
	width:70%;
	//display: flex; 
	.evento-header{
	margin-left: 50px;
	width: 70%;
	align-items:center;
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	
	}
}
.categoria{
	//overflow: auto;
	//position:fixed;
	//right: 500px; 
	//padding-left: 40px;
	padding-right: 40px;
	width:40%;
	margin-left: 100px;
	flex-direction: column;
	right:50px;
	//justify-content:center;
	.header-cat{
	width:100%;
	display: flex;
	justify-content: space-between;
	}
	.cat-name{
	width: 100%;
	//display: flex;
	flex-direction: column;
	//justify-content:center;
	border-bottom: 2px solid #2E3440;
	}
}
/*
.header-cat{
	display: flex;
	background-color: snow;
	justify-content: space-between;
}
.cat-name{
	background-color: pink;
	//display: flex;
	flex-direction: column;
	//justify-content:center;
	border-bottom: 2px solid #2E3440;
}
.botones{
}*/
//-----
.show_event{
  display:flex;
}
.event_section{
  display: flex;
  flex-direction: column;
}