<div class="row title">

  <div class="header-cat">
    <h1 class="snow">Categories</h1>
    <% if current_user.admin? %>
        <%= link_to "Create category", new_category_path, class: 'link btn btn-primary btns ml-4" style="height: 45px;' %>
    <%end%>
  </div>
</div>
<ul>
<% @categories = Category.all %>
<% @categories.each do |cat| %>
  <div class="cat-name">
    <h2>
        <%= link_to cat.name, "/by_category/#{cat.name}", class: 'link snow' %>
        <% if current_user.admin? %>
          <div class="botones">
            <%= link_to "edit", edit_category_path(cat), class: ' btn btns-edlink editbtn' %>
            <%= link_to "delete", cat, method: :delete,
                                    data: { confirm: "You sure?" }, class: 'btn btns-del2 link deluser' %>
          </div>
        <%end%>
        </h2>
  </div>
<%end%>
</ul>