<%= form_with(model: @category, local: true) do |f| %>
  <div class="new_category">
      <%= f.label :name," NAME: ", class: "mt-2" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>  
<% end %>
