<button class="btn btn-primary m-3">
<%= link_to "Add new category", new_category_path, class: 'btns' %>
</button>
<ol>
<% @categories.each do |cat| %>
    <li>
        <%= cat.name %> 
        <%= link_to "edit", edit_category_path(cat)%>
        <%= link_to "delete", cat, method: :delete,
                                    data: { confirm: "You sure?" } %>
        </li>
<%end%>
</ol>
