<% if current_user.admin? %>
    <%= link_to "Add new category", new_category_path %>
<%end%>
<ol>
<% @categories.each do |cat| %>
    <li>
        <%= cat.name %> 
        <% if current_user.admin? %>
            <%= link_to "edit", edit_category_path(cat)%>
            <%= link_to "delete", cat, method: :delete,
                                    data: { confirm: "You sure?" } %>
        <%end%>
        </li>
<%end%>
</ol>